.App {
  text-align: center;
}


.App-content {
  background-color: #282c34;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-gifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 20px;
}